.addOrder {
  position: relative;
  left: calc(50% - 250px);
  width: 500px;
}

.page-title {
  color: royalblue;
}

.time-select {
  width: 500px;
  border: 1px solid royalblue;
  border-radius: 4px;
}

.form-error {
  color: tomato;
  font-weight: bold;
}

.form-success {
  color: green;
  font-weight: bold;
}
